<div id="container">
    <div class="container-fluid">
         <div class="row">
             <h1 id="firstTITLE" class="col-12">Bienvenue au portail du coupe de monde 2022</h1>
         </div>
        <div class="row" id="firstRow">
           <div  class="col-lg-7 col-md-12 col-sm-12 col-xs-12  ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                  <div class="carousel-item item active">
                    <img class="d-block w-100" src="/assets/img/im0.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item item">
                    <img class="d-block w-100" src="/assets/img/im1.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item item">
                    <img class="d-block w-100" src="/assets/img/im2.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item item">
                    <img class="d-block w-100" src="/assets/img/im3.jpeg" alt="Third slide">
                  </div>
                  <div class="carousel-item item">
                    <img class="d-block w-100" src="/assets/img/im4.jpeg" alt="Third slide">
                  </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
           </div>
           <div class="col-lg-5 col-sm-12 col-md-12 col-xs-12 d-flex justify-content-right">
        
            <div id="test"  class="col-lg-12">
               <div id="jja">
            
                  <h1 id="divTitle">Vous-Pouvez :</h1>
                  <div class="row btnContainer">
                      <div class="container-fluid d-flex justify-content-center">
                        <button class="btn btn-primary rounded-pill col-10">Consulter les Matchs</button>
                      </div>
                  </div>  
                    
    
                  <div class="row btnContainer">
                    <div class="container-fluid d-flex justify-content-center">
                      <button (click)="onBuyTicketButtonClicked()" class="btn btn-primary rounded-pill col-10">Acheter un Ticket</button>
                    </div>
                  </div>             
                  
                  <div class="row btnContainer">
                    <div class="container-fluid d-flex justify-content-center">
                    <button (click)="onLoginButtonClicked()"  class="btn btn-primary rounded-pill col-10">Se Connecter</button>
                    </div>
                  </div>

                  <div class="row btnContainer">
                    <div class="container-fluid d-flex justify-content-center">
                       <button  (click)="onSignUpButtonClicked()" class="btn btn-primary rounded-pill col-10">Créer un Compte</button>
                    </div>
                  </div>       
               </div>
          
           </div>
        </div>
        </div>
        
        
    </div>
</div>